.story {
    margin: 1rem;
}

.storyText {
    white-space: pre-line;
}

.storyText::first-letter {
    font-size: 2rem;
    font-weight: bold;
    color: brown;    
}

.container {
    margin: 1rem;
}

@media screen and (min-width: 900px) {
    .container {
        padding: 0 20rem;
        margin: 5rem;
    }
}